<h3>{{ 'trackPath.popups.featureClicked.content.title' | translate }}</h3>

<ion-list >
    <ion-radio  ng-show="   featureClicked.layer !== layerTracks &&
                            featureClicked.layer !== layerParticelleTracks"
                ng-model="featureClicked.type" value="0" >
        {{ 'trackPath.popups.featureClicked.content.codice' | translate }}
    </ion-radio>

    <ion-radio ng-model="featureClicked.type" value="1" >
        {{ 'trackPath.popups.featureClicked.content.cancella' | translate }}
    </ion-radio>
</ion-list>
