<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.erasmicoin.gnss_status"
    version="0.0.1">
    <name>GnssStatus</name>
    <description>Cordova plugin to retreive gnss status information</description>
    <license>MIT</license>
    <keywords>gnss_status</keywords>

    <!-- js module -->
    <js-module src="www/gnss_status.js" name="gnss_status">
        <clobbers target="window.gnss_status" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ErasmicoinGnssStatus">
                <param name="android-package" value="com.erasmicoin.gnss_status.ErasmicoinGnssStatus"/>
            </feature>
        </config-file>
        <source-file src="src/android/com/erasmicoin/gnss_status/ErasmicoinGnssStatus.java" target-dir="src/android/com/erasmicoin/gnss_status" />
    </platform>
</plugin>
