<ion-view hide-back-button="true" id="page4">
  <ion-nav-title>{{'sensoregps.title'|translate}}</ion-nav-title>

  <ion-content padding="true" class="has-header">
      <div class="row">
        <div class="col col-33">
          <div class="item item-divider">
            {{'sensoregps.n_sat_used'|translate}}
          </div>
          <div id ="n_sat_used" class="row">
            n/d
          </div>
        </div>
        <div class="col col-33">
          <div class="item item-divider">
            {{'sensoregps.sat_view'|translate}}
          </div>
          <div id ="t_n_sat" class="row">
            n/d
          </div>
        </div>
        <div class="col col-33">
          <div class="item item-divider">
            {{'sensoregps.fix_type'|translate}}
          </div>
          <div id ="t_fix_type" class="row">
            n/d
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col col-100">
          <div class="list card">
            <div class="item item-divider">
              {{'home_page.phone_info'|translate}}
            </div>
            <div class="row">
              <div class="col col-75">
                {{'home_page.manufact'|translate}}
              </div>
              <div id="sens_space_manufact" class="col col-25">
              </div>
            </div>
            <div class="row">
              <div class="col col-75">
                {{'home_page.model'|translate}}
              </div>
              <div id="sens_space_model" class="col col-25">
              </div>
            </div>
            <div class="item item-divider">
              {{'sensoregps.geo'|translate}}
            </div>
            <div class="row">
              <div class="col col-33">
                <div class="row">
                  {{'sensoregps.lat'|translate}}
                </div>
                <div id ="t_lat" class="row">
                  {{lat}}
                </div>
              </div>
              <div class="col col-33">
                <div class="row">
                  {{'sensoregps.lon'|translate}}
                </div>
                <div id ="t_lon" class="row">
                  {{lon}}
                </div>
              </div>
              <div class="col col-33">
                <div class="row">
                  {{'sensoregps.alt'|translate}}
                </div>
                <div id ="t_alt" class="row">
                  {{altitude}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-33">
                <div class="row">
                  N/S
                </div>
                <div id ="t_n_s" class="row">
                  {{n_s}}
                </div>
              </div>
              <div class="col col-33">
                <div class="row">
                  E/W
                </div>
                <div id ="t_w_e" class="row">
                  {{w_e}}
                </div>
              </div>
              <div class="col col-33">
                <div class="row">
                  {{'sensoregps.fix_mode'|translate}}
                </div>
                <div id ="t_fix_mode" class="row">
                  {{fix_mode}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-33">
                <div class="row">
                  Hdop
                </div>
                <div id ="t_hdop" class="row">
                  {{hdop}}
                </div>
              </div>
              <div class="col col-33">
                <div class="row">
                  Pdop
                </div>
                <div id ="t_pdop" class="row">
                  {{pdop}}
                </div>
              </div>
              <div class="col col-33">
                <div class="row">
                  Vdop
                </div>
                <div id ="t_vdop" class="row">
                  {{vdop}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-33">
                <div class="row">
                  Accuracy
                </div>
                <div id="t_accuracy" class="row">
                  {{accuracy}}
                </div>
              </div>
              <div class="col col-33">
                <div class="row">
                  Precision
                </div>
                <div id="t_precision" class="row">
                  {{precision}}
                </div>
              </div>
            </div>

            <div class="item item-divider">
              VTG INFO
            </div>
            <div class="row">
              <div class="col col-50">
                <div class="row">
                  {{'sensoregps.true_degrees'|translate}}
                </div>
                <div id ="t_tr_deg_1" class="row">
                  {{tr_deg_1}}
                </div>
              </div>
              <div class="col col-50">
                <div class="row">
                  {{'sensoregps.magnetic_degrees'|translate}}
                </div>
                <div id ="t_tr_deg_2" class="row">
                  {{tr_deg_2}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-50">
                <div class="row">
                  {{'sensoregps.speed'|translate}} {{'sensoregps.knots'|translate}}
                </div>
                <div id ="t_speed_knots" class="row">
                  {{speed_knots}}
                </div>
              </div>
              <div class="col col-50">
                <div class="row">
                  {{'sensoregps.speed'|translate}} Km/h
                </div>
                <div id ="t_speed_kmh" class="row">
                  {{speed_kmh}}
                </div>
              </div>
            </div>
            <div class="item item-divider">
              RMC INFO
            </div>
            <div class="row">
              <div class="col col-33">
                <div class="row">
                  {{'sensoregps.magne'|translate}}
                </div>
                <div id ="t_magn_var" class="row">
                  {{magn_var}}
                </div>
              </div>
              <div class="col col-33">
                <div class="row">
                  E/W
                </div>
                <div id ="e_w_magn" class="row">
                  {{e_w_magn}}
                </div>
              </div>
              <div class="col col-33">
                <div class="row">
                  {{'sensoregps.track_mg'|translate}}
                </div>
                <div id ="track_mg" class="row">
                  {{track_mg}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-50">
                <div class="row">
                  {{'sensoregps.speed'|translate}} {{'sensoregps.knots'|translate}}
                </div>
                <div id ="t_speed" class="row">
                  {{speed}}
                </div>
              </div>
              <div class="col col-50">
                <div class="row">
                  {{'sensoregps.speed'|translate}} Km/h
                </div>
                <div id ="t_speed_kmh_rmc" class="row">
                  {{speed_kmh_rmc}}
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col col-50">
                <div class="item item-divider">
                  GALILEO SATs
                </div>
                <div id="galileo_sat_list">
                  <div class="list">
                    <label class="item item-input item-stacked-label" >
                      <div id ="t_s1_ga">
                        n/d
                      </div>
                    </label>
                    <label class="item item-input item-stacked-label" >
                      <div id ="t_s2_ga">
                        n/d
                      </div>
                    </label>
                    <label class="item item-input item-stacked-label" >
                      <div id ="t_s3_ga">
                        n/d
                      </div>
                    </label>
                    <label class="item item-input item-stacked-label" >
                      <div id ="t_s4_ga">
                        n/d
                      </div>
                    </label>
                    <label class="item item-input item-stacked-label" >
                      <div id ="t_s5_ga">
                        n/d
                      </div>
                    </label>
                    <label class="item item-input item-stacked-label" >
                      <div id ="t_s6_ga">
                        n/d
                      </div>
                    </label>
                    <label class="item item-input item-stacked-label" >
                      <div id ="t_s7_ga">
                        n/d
                      </div>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col col-50">
                <div class="item item-divider">
                  GPS SATs
                </div>
                <div  id="gps_sat_list">
                  <div class="list">
                    <label class="item item-input item-stacked-label" >
                      <div id ="t_s1">
                        n/d
                      </div>
                    </label>
                    <label class="item item-input item-stacked-label" >
                      <div id ="t_s2">
                        n/d
                      </div>
                    </label>
                    <label class="item item-input item-stacked-label" >
                      <div id ="t_s3">
                        n/d
                      </div>
                    </label>
                    <label class="item item-input item-stacked-label" >
                      <div id ="t_s4">
                        n/d
                      </div>
                    </label>
                    <label class="item item-input item-stacked-label" >
                      <div id ="t_s5">
                        n/d
                      </div>
                    </label>
                    <label class="item item-input item-stacked-label" >
                      <div id ="t_s6">
                        n/d
                      </div>
                    </label>
                    <label class="item item-input item-stacked-label" >
                      <div id ="t_s7">
                        n/d
                      </div>
                    </label>
                  </div>
                </div>
              </div>
          </div>

          <div class="row">

            <div class="col col-50">
              <div class="item item-divider">
                GLONASS SATs
              </div>
              <div id="glonass_sat_list">
                <div class="list" >
                  <label class="item item-input item-stacked-label" >
                    <div id ="t_s1_g">
                      n/d
                    </div>
                  </label>
                  <label class="item item-input item-stacked-label" >
                    <div id ="t_s2_g">
                      n/d
                    </div>
                  </label>
                  <label class="item item-input item-stacked-label" >
                    <div id ="t_s3_g">
                      n/d
                    </div>
                  </label>
                  <label class="item item-input item-stacked-label" >
                    <div id ="t_s4_g">
                      n/d
                    </div>
                  </label>
                  <label class="item item-input item-stacked-label" >
                    <div id ="t_s5_g">
                      n/d
                    </div>
                  </label>
                  <label class="item item-input item-stacked-label" >
                    <div id ="t_s6_g">
                      n/d
                    </div>
                  </label>
                  <label class="item item-input item-stacked-label" >
                    <div id ="t_s7_g">
                      n/d
                    </div>
                  </label>
                </div>
              </div>

            </div>

            <div class="col col-50">
              <div class="item item-divider">
                BEIDOU SATs
              </div>
              <div id="beidou_sat_list">
                <div class="list">
                  <label class="item item-input item-stacked-label" >
                    <div id ="t_s1_bd">
                      n/d
                    </div>
                  </label>
                  <label class="item item-input item-stacked-label" >
                    <div id ="t_s2_bd">
                      n/d
                    </div>
                  </label>
                  <label class="item item-input item-stacked-label" >
                    <div id ="t_s3_bd">
                      n/d
                    </div>
                  </label>
                  <label class="item item-input item-stacked-label" >
                    <div id ="t_s4_bd">
                      n/d
                    </div>
                  </label>
                  <label class="item item-input item-stacked-label" >
                    <div id ="t_s5_bd">
                      n/d
                    </div>
                  </label>
                  <label class="item item-input item-stacked-label" >
                    <div id ="t_s6_bd">
                      n/d
                    </div>
                  </label>
                  <label class="item item-input item-stacked-label" >
                    <div id ="t_s7_bd">
                      n/d
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="item item-divider">
            SNR
          </div>
          <div class="row">
            <div class="col-50">
              <div class="row">
                mean snr
              </div>
              <div class="row" id="mean_snr">

              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>
