<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.erasmicoin.cordova.internalnmea"
    version="0.0.1">
    <name>InternalNmea</name>
    <description>Cordova plugin to retreive NMEA stream from phone gps receiver</description>
    <license>MIT</license>
    <keywords>nmea</keywords>

    <!-- js module -->
    <js-module src="www/internalnmea.js" name="internalnmea">
        <clobbers target="window.internalnmea" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="InternalNmea">
                <param name="android-package" value="com.erasmicoin.cordova.internalnmea.InternalNmea"/>
            </feature>
        </config-file>
        <source-file src="src/android/com/erasmicoin/cordova/internalnmea/InternalNmea.java" target-dir="src/android/com/erasmicoin/cordova/internalnmea" />
    </platform>
</plugin>
