<ion-view hide-nav-bar="true" title="" id="page4">
    <ion-nav-title>{{ 'login.page.title' | translate }}</ion-nav-title>
    <ion-content padding="true" class="has-header">
        <form id="login-form3" class="list">
            <ion-list id="login-list1">
              <div class="row">
                <div class="col col-100">
                  <label class="item item-input" id="login-input4">
                      <span class="input-label">{{ 'login.labels.username' | translate }}</span>
                      <input type="text" id="login_input" placeholder="{{ 'login.placeholders.username' | translate }}" ng-model="user.username" >
                  </label>
                </div>
              </div>
                <div class="row">
                  <div class="col col-80">
                    <label class="item item-input" id="login-input5">
                      <span class="input-label">{{ 'login.labels.password' | translate }}</span>
                      <input id="password_input" type="password" placeholder="{{ 'login.placeholders.password' | translate }}" ng-model="user.password" >
                    </label>
                  </div>
                  <div class="col col-20">
                    <button id="showpass-button2" class="button button-stable button-block" click-and-wait="togglePasswordVisibility()" style="background: #005ce6; opacity: 0.7">
                      <i class="icon ion-eye" style="color: white" ng-if="!password_shown"></i>
                      <i class="icon ion-eye-disabled" style="color: white" ng-if="password_shown"></i>
                    </button>
                  </div>
                </div>
            </ion-list>
            <p style="width:100%; text-align:center; color:red;" ng-if="errorMessage != ''">{{errorMessage}}</p>
            <button id="login-button2" class="button button-stable button-block" click-and-wait="login()" style="box-shadow: 5px 5px 10px 2px #333333;background: #005ce6; opacity: 0.7;">
              <i ng-class="'light'">{{ 'login.buttons.login' | translate }}</i>
            </button>
        </form>
      <div class="list card" style="margin-top: 1%">
        <img src="img/Agri_app_mob_02-02-02_imp.svg">
      </div>
    </ion-content>
</ion-view>
