<ion-view hide-nav-bar="false" name="lavorazioni">
    <ion-content id="lavorazioni_page" padding="true" class="has-header" style="overflow-y: hidden;">
      <div class="list card" style="margin-top: 1%;height: 38vh">
        <div class="row">
          <div class="col col-75">
              {{'home_page.manufact'|translate}}
          </div>
          <div id="space_manufact" class="col col-25">
          </div>
        </div>
        <div class="row">
          <div class="col col-75">
              {{'home_page.model'|translate}}
          </div>
          <div id="space_model" class="col col-25">
          </div>
        </div>
        <div class="row">
          <div class="col col-75">
              {{'home_page.supported_galileo'|translate}}
          </div>
          <div class="col col-25">
            <img id="ball_galileo" width="30%" src="img/red_ball.png">
          </div>
        </div>
        <div class="row">
          <div class="col col-75">
              {{'home_page.supported_dual_freq'|translate}}
          </div>
          <div class="col col-25">
            <img id="ball_dual_freq" width="30%" src="img/red_ball.png">
          </div>
        </div>
        <div class="row">
          <div class="col col-75">
              {{'home_page.supported_egnos'|translate}}
          </div>
          <div class="col col-25">
            <img id="ball_egnos" width="30%" src="img/red_ball.png">
          </div>
        </div>
        <div class="row">
          <div class="col col-75">
              {{'home_page.supported_osnma'|translate}}
          </div>
          <div class="col col-25">
            <img id="ball_osnma" width="30%" src="img/red_ball.png">
          </div>
        </div>
      </div>
      <div class="list card" style="text-align: center">
        <img src="img/Agri_app_mob_02-02-02_imp.svg" style="height: 45vh;">
      </div>
    </ion-content>
</ion-view>
