<ion-view title={{currentHeadingTxt}} id="page3" align-title="center">
    <ion-nav-bar class="bar-clear transparentView">
        <ion-nav-buttons side="left">
            <button ng-hide="hideButtons" class="button button-icon button-clear button-positive ion-android-arrow-back" ng-click="goBack()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scroll="false" style="background-color:transparent !important">
		<div id="container">
    <p style="align-self: center; color: red; text-decoration-style: solid">{{alert_txt}}</p>
		<button id="camera_btn" ng-hide="hideButtons" ng-click="takePicture()" class="button button-icon round shutterButton" style="background: #000000; opacity: 0.7;" >
      <i class="icon ion-android-camera energized" id="camera_btn_icon"></i>
		</button>
		<div ng-hide="hideInitialCountdown" id="cdDIv" class="camPanel cdPanel">
      <div class="row">
        <div class="col col-25">
        <button ng-click="closeCalibrationPopup()" style="background: #000000; opacity: 0.7;">
          <i class="energized">X</i>
        </button>
        </div>
      </div>
      <div class="row">{{'takePictureAR.calibrazione' | translate}} {{points_to_go}}</div>
		</div>
		<img ng-hide="hideQr" class="qrcodephoto" id="qrcode"/>
		</div>
    </ion-content>
</ion-view>
