<!--
 ezAR Cordova plugin manifest
 ezartech.com
-->
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
	  xmlns:android="http://schemas.android.com/apk/res/android"
	  id="com.ezartech.ezar.videooverlay"
	  version="0.2.11">
	  
	<name>ezAR Video Overlay</name>
	<description>Augmented reality SDK for Cordova hybrid-mobile applications. 
				 Overlay a real-world background mobile device camera with
				 a transparent application web (HTML) UI that has full access
				 to all Cordova plugin apis.  
	</description>
	<keywords>augmented reality,video preview,overlay,computer vision</keywords>
	<license>modified MIT License, see http://ezartech.com/ezarstartupkit-license</license>

	<!-- web api -->
	<js-module src="www/videoOverlay.js" name="videoOverlay">
		<merges target="ezar" />
	</js-module>
	
	<js-module src="www/camera.js" name="camera">
		<clobbers target="camera" />
	</js-module>
	
	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="videoOverlay">
				<param name="ios-package" value="CDVezARVideoOverlay"/>
			</feature>
		</config-file>
		<preference name="CAMERA_USAGE_DESCRIPTION" default=" " />
+       <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
+             <string>$CAMERA_USAGE_DESCRIPTION</string>
+       </config-file>

		<header-file src="src/ios/CDVezARVideoOverlay.h" />
		<header-file src="src/ios/CDVezARCameraViewController.h" /> 
		<source-file src="src/ios/CDVezARVideoOverlay.m" />
		<source-file src="src/ios/CDVezARCameraViewController.m" />
		<!--<source-file src="src/ios/Utils.h" />-->

		<framework src="UIKit.framework" />
		<framework src="Foundation.framework" />
		<framework src="AVFoundation.framework" />
		<!--
		<framework src="CoreImage.framework" />
		<framework src="CoreVideo.framework" />
		-->		
	</platform>

	<!-- android -->
	<platform name="android">
	  <config-file parent="/*" target="res/xml/config.xml">
		 <feature name="videoOverlay">
			<param name="android-package" value="com.ezartech.ezar.videooverlay.VideoOverlayPlugin" />
            <param name="onload" value="false" />
		 </feature>
	  </config-file>
	  <config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.CAMERA" />
			<uses-feature android:name="android.hardware.camera.any" />
			<uses-feature android:name="android.hardware.camera.autofocus" />
	  </config-file>
	  <config-file parent="/*" target="AndroidManifest.xml" />
	  <source-file src="src/android/VideoOverlayPlugin.java" target-dir="src/com/ezartech/ezar/videooverlay" />
	  <source-file src="src/android/AspectRatioFrameLayout.java" target-dir="src/com/ezartech/ezar/videooverlay" />
	  <source-file src="src/android/VideoOverlayFrameListener.java" target-dir="src/com/ezartech/ezar/videooverlay" />
	  <source-file src="src/android/FrameBufferHolder.java" target-dir="src/com/ezartech/ezar/videooverlay" />
	  <source-file src="src/android/CameraDirection.java" target-dir="src/com/ezartech/ezar/videooverlay" />
	   <source-file src="src/android/Util.java" target-dir="src/com/ezartech/ezar/videooverlay" />
      <source-file src="src/android/PermissionHelper.java" target-dir="src/com/ezartech/ezar/videooverlay" />
  </platform>
   
</plugin>
