.ol-rotate {
	display: none;
}

body {
	color: black;
	font-size: 0.7em;
	font-weight: normal;
	font-style: normal;
	font-family: Roboto;
	margin: 0em;
	padding: 0em;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	height: 100%;
	width: 100%;
	display: block;
}

body::-webkit-scrollbar {
	display: none;
}

DIV .thumbnails:hover {
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

.content {
	overflow: auto;
	height: 500px;
}

#noRows {
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	color: red;
}

#titolo {
	font-weight: bold;
	font-size: 1.3em;
	color: black;
}

#sottotitolo {
	font-weight: bold;
	font-size: 15px;
	color: black;
}

#selected {
	background-color: #E0FFFF;
	font-weight: bold;
}

#selectedLink {
	background-color: #E0FFFF;
	font-weight: bold;
	cursor: pointer;
}

#titoloHeaderUp {
	margin-top: 14px;
	float: top;
	text-align: center;
	font-size: 0.8em;
	vertical-align: center;
}

.noBorder {
	border: 0
}

#titoloHeaderDown {
	margin-top: 7px;
	float: bottom;
	text-align: center;
	font-size: 3em;
	vertical-align: center;
	font-style: bold;
}

#footer {
	border-top: 1px solid #CCCCCC;
	font-size: 1em;
}

#loghi {
	width: 373px;
	float: left;
	padding-left: 15px;
	margin-right: 30px;
	display: block;
	padding-top: 10px;
}

#menuFooter {
	width: 373px;
	float: right;
	padding-right: 15px;
	display: block;
	margin-left: 30px;
	text-align: right;
}

#menuFooter li {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline;
}

#footer_left {
	width: 373px;
	float: left;
	margin-right: 30px;
	display: block;
}

#footer_left div {
	display: block;
	text-align: left;
}

#footer_right {
	width: 373px;
	float: right;
	display: block;
	margin-left: 30px;
}

#footer_right div {
	display: block;
	text-align: right;
}

#menu01v {
	width: 15%;
	vertical-align: top;
	border: 1px solid #CCCCCC;
}

#content {
	width: 85%;
	height: 100%;
	color: #000;
	vertical-align: top;
}

.scrollDiv {
	height: auto;
	overflow-y: scroll;
	overflow-x: scroll;
}

fieldset {
	position: relative;
	margin: 0 0 0 0;
	padding-top: 2px;
	color: #000000;
	border: 1px solid #0080ff;
	border-radius: 8px;
	-o-border-radius: 8px;
	-icab-border-radius: 8px;
	-khtml-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

legend {
	font-weight: bold;
}

.error {
	color: #ff0000;
	font-style: italic;
}

A:link {
	text-decoration: none;
	color: black;
} /*#2C68A6*/
A:visited {
	text-decoration: none;
	color: black;
}

A:active {
	text-decoration: none;
}

A:hover {
	font-weight: bold;
	text-decoration: underline;
}

img:hover {
	opacity: 0.5;
	filter: alpha(opacity = 50); /* For IE8 and earlier */
	cursor: pointer;
}

#loading {
	position: fixed;
	top: 50%;
	left: 40%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 9994;
	display: none;
}

#caricamento {
	position: fixed;
	top: 51%;
	left: 44%;
	width: auto;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	overflow: hidden;
	z-index: 9993;
	font-weight: bold;
	font-style: italic;
	font-size: 15pt;
	/*color: white;*/
}

#loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('../img/wait.png');
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9990;
	display: none;
}

/* fix for IE6 
* html .hitarea {
	display: inline;
	float: none;
}
*/
#treecontrol {
	margin: 1em 0;
	display: none;
}

#tabs {
	background: transparent;
	border: none;
	width: 100%;
	height: 90%;
}

#tabs .ui-widget-header {
	background: transparent;
	border: none;
	border-bottom: 1px solid #c0c0c0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

#tabs .ui-tabs-nav .ui-state-default {
	background: transparent;
	border: none;
}

#tabs .ui-tabs-nav .ui-state-active {
	background: transparent url(../img/uiTabsArrow.png) no-repeat bottom
		center;
	border: none;
}

#tabs .ui-tabs-nav .ui-state-default a {
	color: #c0c0c0;
}

#tabs .ui-tabs-nav .ui-state-active a {
	font-weight: bold;
	cursor: default;
	color: black;
}

.float-right {
	float: right;
}

.alignRight {
	text-align: right;
}

.alignCenter {
	text-align: center;
}

#map {
	width: 98%;
	height: 98%;
	padding-bottom: 0.4em;
	padding-top: 0.4em;
	padding-left: 0em;
	padding-right: 0em;
	position: absolute;
}

#map .ol-zoom .ol-zoom-out {
	margin-top: 204px;
}

#map .ol-zoomslider {
	background-color: transparent;
	top: 2.3em;
}

#map .ol-touch .ol-zoom .ol-zoom-out {
	margin-top: 212px;
}

#map .ol-touch .ol-zoomslider {
	top: 2.75em;
}

#map .ol-zoom-in.ol-has-tooltip:hover [role=tooltip],#map .ol-zoom-in.ol-has-tooltip:focus [role=tooltip]
	{
	top: 3px;
}

#map .ol-zoom-out.ol-has-tooltip:hover [role=tooltip],#map .ol-zoom-out.ol-has-tooltip:focus [role=tooltip]
	{
	top: 232px;
}

html,body {
	background: #666;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: auto; /* when page gets too small */
}

#container {
	background: 777;
	height: 100%;
	min-height: 100%;
	_height: 100%;
	width: 100%;
	min-width: 100%;
	_width: 100%;
	margin: 0 auto;
}

#container2 {
	background: 777;
	height: 100%;
	min-height: 100%;
	_height: 100%;
	width: 100%;
	min-width: 100%;
	_width: 100%;
	margin: 0 auto;
	padding:0.5em;
}

#wrapper {
	padding:0.5em;
	height:100%;
	position: relative;
	background: white;
}

.layout-west {
	background:white;
	float:left;
	height:100%;
}

.layout-east {
	width:60%;
	background:white;
	float:left;
	height:100%;
	position: relative; /*da tenere in considerazione per la poszione della mappa*/
}


.pane {
	display: none;
}

.evento {
	display: none;
}

.anitem {
	font-size: x-small;
}

#console {
	float: left;
	overflow: auto;
	position: absolute;
}

.layerswitcherAltro {
	margin: 0;
	padding: 6px 10px 20px 10px;
	border-radius: 4px;
	background: rgba(0, 60, 136, 0.5);
	list-style-type: none;
}

#layerswitcher {
	margin: 0;
	padding: 10px;
	border-radius: 4px;
	background: rgba(0, 60, 136, 0.5);
	list-style-type: none;
}

.btnMenuLayer {
	display: block;
	border-radius: 4px;
	border: 1px;
	border-style: solid;
	border-color: #ffff;
	font-size: x-small;
	color: #fff;
	background: rgba(0, 60, 136, 0.5);
	cursor: pointer;
	margin-bottom: 0.1em;
	float: left;
}

#layerswitcherMenu {
	margin: 0;
	padding: 4px;
	border-radius: 4px;
	background: rgba(0, 60, 136, 0.5);
	list-style-type: none;
}

#layerswitcherRefresh {
	margin: 0;
	padding: 6px 10px 20px 10px;
	border-radius: 4px;
	background: rgba(0, 60, 136, 0.5);
	list-style-type: none;
}

#layerswitcherLPIS {
	margin: 0;
	padding: 6px 10px 20px 10px;
	border-radius: 4px;
	background: rgba(0, 60, 136, 0.5);
	list-style-type: none;
}

#layerswitcherAreeSvan {
	margin: 0;
	padding: 6px 10px 20px 10px;
	border-radius: 4px;
	background: rgba(0, 60, 136, 0.5);
	list-style-type: none;
}

#layerswitcherAltro {
	margin: 0;
	padding: 6px 10px 20px 10px;
	border-radius: 4px;
	background: rgba(0, 60, 136, 0.5);
	list-style-type: none;
}

#toolbox {
	position: absolute;
	top: 6.5em;
	right: 0.5em;
	padding: 3px;
	border-radius: 4px;
	color: #fff;
	background: rgba(255, 255, 255, 0.4);
	z-index: 100;
}

#infoSuperficeCondottaBG{
	
	position: absolute;
	top: 1em;
	left: 0.5em;
	padding: 3px;
	border-radius: 4px;
	color: #fff;
	background: rgba(255, 255, 255, 0.4);
	z-index: 100;
}

#infoSuperficeBG {
	position: absolute;
	top: 3.5em;
	left: 0.5em;
	padding: 3px;
	border-radius: 4px;
	color: #fff;
	background: rgba(255, 255, 255, 0.4);
	z-index: 100;
}

.infoSuperfice {
	margin: 0;
	padding: 4px;
	border-radius: 4px;
	background: rgba(0, 60, 136, 0.5);
	list-style-type: none;
}

#infoSuperficeGisBG {
	position: absolute;
	top: 6em;
	left: 0.5em;
	padding: 3px;
	border-radius: 4px;
	color: #fff;
	background: rgba(255, 255, 255, 0.4);
	z-index: 100;
}



#infoOutput {
	position: absolute;
	bottom: 20px;
	right: 1.7em;
	padding: 3px;
	border-radius: 4px;
	color: #fff;
	background: rgba(255, 255, 255, 0.4);
	z-index: 100;
}

.infoMap {
	margin: 0;
	padding: 5px;
	border-radius: 4px;
	background: rgba(0, 60, 136, 0.5);
	list-style-type: none;
}

.menuLegend {
	width: 12px;
	height: 4px;
	float: right;
	margin-top: 10px;
}

.tooltipMap {
	position: relative;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	color: white;
	padding: 4px 8px;
	opacity: 0.7;
	white-space: nowrap;
}

.tooltipMapMeasure {
	position: relative;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	color: white;
	padding: 4px 8px;
	opacity: 0.7;
	white-space: nowrap;
}

.tooltip-measure {
	opacity: 1;
	font-weight: bold;
}

.tooltip-static {
	background-color: #ffcc33;
	color: black;
	border: 1px solid white;
}

.tooltip-measure:before,.tooltip-static:before {
	border-top: 6px solid rgba(0, 0, 0, 0.5);
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	content: "";
	position: absolute;
	bottom: -6px;
	margin-left: -7px;
	left: 50%;
}

.tooltip-static:before {
	border-top-color: #ffcc33;
}

.tooltip {
	display: none;
	position: absolute;
	border: 1px solid #333;
	background-color: #161616;
	border-radius: 5px;
	padding: 10px;
	color: #fff;
	font-size: 12px Arial;
}

.modalDialog>div {
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

select {
	font-size:small;
}

ul {
	list-style-type:none;
	padding-left: 0.2em;
}

.ulUtilizzo li{
	margin-top:2px;
}

.draggable
{
	background:green;
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.vr
{
  display:inline;
  height:16px;
  width:1px;
  border:1px inset;
  margin:5px
}

#slidebarPNG {
	position: absolute;
	bottom: 2.3em;
	right: 0.5em;
	padding: 3px;
	border-radius: 4px;
	color: #fff;
	background: rgba(255, 255, 255, 0.4);
	z-index: 100;
}

#slidebarPNGContent {
	margin: 0;
	padding: 4px;
	border-radius: 4px;
	background: rgba(0, 60, 136, 0.5);
	list-style-type: none;
}

.caricaFile{
	display: none;
}

.accordionContent{
	border: 0px; 
	padding: 1em 1em;
	border-top: 0;
	margin-bottom: 2em;
}

#accordion h3{
	font-weight: bold;
}

* {box-sizing: border-box;}
.img-zoom-container {
  position: relative;
}
.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}
.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 400px;
  height: 400px;
}