<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>gsaConsole</display-name>
  <filter>
    <filter-name>GZipServletFilter</filter-name>
    <filter-class>it.erasmicoin.crypto.filter.gzip.GZipServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GZipServletFilter</filter-name>
    <url-pattern>/PhotosListGSAServletAuth</url-pattern>
    <url-pattern>/GetPhotoGSAServlet</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>it.erasmicoin.crypto.filter.CORSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/PhotosListGSAServletAuth</url-pattern>
    <url-pattern>/GetPhotoGSAServlet</url-pattern>
    <url-pattern>/authServlet</url-pattern>
    <url-pattern>/LogoutServletAuth</url-pattern>
    <url-pattern>/UsersListGSAServletAuth</url-pattern>
    <url-pattern>/UserActionsGSAServletAuth</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>AuthTokenFilter</filter-name>
  	<filter-class>it.erasmicoin.crypto.filter.AuthTokenFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>AuthTokenFilter</filter-name>
  	<url-pattern>/PhotosListGSAServletAuth</url-pattern>
  	<url-pattern>/UploadPhotoGSAServletAuth</url-pattern>
  	<url-pattern>/GetPhotoGSAServlet</url-pattern>
  	<url-pattern>/UsersListGSAServletAuth</url-pattern>
  	<url-pattern>/UserActionsGSAServletAuth</url-pattern>
  	<url-pattern>/CellInfoGSAServletAuth</url-pattern>  	
  </filter-mapping>
  <filter>
    <filter-name>CacheControl</filter-name>
    <filter-class>it.erasmicoin.crypto.filter.CacheControlFilter</filter-class>
    <init-param>
      <param-name>Cache-Control</param-name>
      <param-value>max-age=604800, public, must-revalidate</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CacheControl</filter-name>
    <url-pattern>/resources/css/images/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>NoCache</filter-name>
    <filter-class>it.erasmicoin.crypto.filter.CacheControlFilter</filter-class>
    <init-param>
      <param-name>Cache-Control</param-name>
      <param-value>no-cache</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>NoCache</filter-name>
    <url-pattern>/resources/script/core/*</url-pattern>
    <url-pattern>/js/*</url-pattern>
    <url-pattern>/resources/css/*</url-pattern>
  </filter-mapping>
   
 
  <servlet>
    <servlet-name>Log4jInit</servlet-name>
    <servlet-class>it.erasmicoin.log4j.Log4jInit</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <listener>
    <listener-class>it.erasmicoin.configurazione.ApplicationConfig</listener-class>
  </listener>
   
   <servlet>
    <display-name>AuthenticationServlet</display-name>
    <servlet-name>AuthenticationServlet</servlet-name>
    <servlet-class>it.erasmicoin.crypto.servlet.AuthenticationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticationServlet</servlet-name>
    <url-pattern>/authServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <display-name>CellInfoGSAServletAuth</display-name>
    <servlet-name>CellInfoGSAServletAuth</servlet-name>
    <servlet-class>it.erasmicoin.crypto.servlet.CellInfoGSAServletAuth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CellInfoGSAServletAuth</servlet-name>
    <url-pattern>/CellInfoGSAServletAuth</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UsersListGSAServletAuth</display-name>
    <servlet-name>UsersListGSAServletAuth</servlet-name>
    <servlet-class>it.erasmicoin.crypto.servlet.UsersListGSAServletAuth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersListGSAServletAuth</servlet-name>
    <url-pattern>/UsersListGSAServletAuth</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserActionsGSAServletAuth</display-name>
    <servlet-name>UserActionsGSAServletAuth</servlet-name>
    <servlet-class>it.erasmicoin.crypto.servlet.UserActionsGSAServletAuth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserActionsGSAServletAuth</servlet-name>
    <url-pattern>/UserActionsGSAServletAuth</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <description></description>
    <display-name>GetPhotoGSAServlet</display-name>
    <servlet-name>GetPhotoGSAServlet</servlet-name>
    <servlet-class>it.erasmicoin.crypto.servlet.GetPhotoGSAServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPhotoGSAServlet</servlet-name>
    <url-pattern>/GetPhotoGSAServlet</url-pattern>
  </servlet-mapping>
   
  <servlet>
    <description></description>
    <display-name>PhotosListGSAServletAuth</display-name>
    <servlet-name>PhotosListGSAServletAuth</servlet-name>
    <servlet-class>it.erasmicoin.crypto.servlet.PhotosListGSAServletAuth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotosListGSAServletAuth</servlet-name>
    <url-pattern>/PhotosListGSAServletAuth</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UploadPhotoGSAServletAuth</display-name>
    <servlet-name>UploadPhotoGSAServletAuth</servlet-name>
    <servlet-class>it.erasmicoin.crypto.servlet.UploadPhotoGSAServletAuth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadPhotoGSAServletAuth</servlet-name>
    <url-pattern>/UploadPhotoGSAServletAuth</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>LogoutServletAuth</display-name>
    <servlet-name>LogoutServletAuth</servlet-name>
    <servlet-class>it.erasmicoin.crypto.servlet.LogoutServletAuth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServletAuth</servlet-name>
    <url-pattern>/LogoutServletAuth</url-pattern>
  </servlet-mapping>
</web-app>