@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf')  format('truetype')
}
*{
	font-family: Roboto;
}

#cellInfoText{
	margin-top:8px;
}

.deleteFotoConf{
	font-size: large;
	text-align: center;
}
#detailTable{
	height:98.5%;
}
#satsInfoPopup{
	/*position:fixed;
	background-color:white;*/
	height:auto;
	width: 100%;
	overflow:auto;
	overflow-x:hidden;
}
#satsInfoPopup th{
	font-size: 10px;
	padding:0;
	border-radius:0px;
}
#satsInfoPopup td{
	font-size: 11px;
	padding:0;
}
.nomeUtenteUsers{
	float:right;
}
.userCrud{
	position: absolute;
	width: 50%;
	height: 30vh;
	background-color: white;
	border-radius: 7px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	padding: 20px;
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	justify-items: center;
	grid-column-gap: 6px;
}
.crudShade{
	width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.6);
    position: absolute;
}
.closeCrud{
	position: absolute;
    right: -16px;
    top: -16px;
}
.mainHeaderLogo{
	background: url("../img/gsalogotext.png") no-repeat center;
	background-size: contain;
	width: 16vw;
    height: 60px;
    left: 33vw;
	top: 0;
	z-index: 20;
	position: absolute;
}
#errorMessage{
	height:30px;
}
.rawDataPopup{
    max-width:100%;
    overflow:scroll;
    max-height: 17vh;
    /* height: 100%; */
}
.rawDataPopup table{
    font-size:smaller;    
    width:100%;
    border: 1px gray solid;
}
.rawDataPopup td{
    border: 1px gray solid;
}
.rawDataPopup th{
    text-align:center;
    background-color: blue;
    color:white;
    border: 1px gray solid;
}
img.ribbon-disabled
{
	opacity:0.3;
	filter:alpha(opacity=70);
}

body {
    border: 0;
}

table.tableStyle {
    margin-bottom: 10px;
    font-size: 30px;
}

table.tableStyle th,
table.tableStyle td {
    padding: 10px;
}

table.tableStyle th {
    text-align: center;
}

table.tableStyle thead tr :first-child {
    border-radius: 9px 0px 0px 0px;
}

table.tableStyle thead tr :last-child {
    border-radius: 0px 9px 0px 0px;
}

table.tableStyle tfoot tr td {
    border-radius: 0px 0px 9px 9px;
}

.nn {
    padding: 0;
    margin: 0;
}

input,
select {
    border: 0;
}

select,
select option {
    padding: 5px 0;
}

input[type=text],
input[type=password],
.dataTables_filter label input {
    -webkit-box-shadow: 0 0 0 30px #ebebeb inset;
    -moz-box-shadow: 0 0 0 30px #ebebeb inset;
    box-shadow: 0 0 0 30px #ebebeb inset;
    border: 0;
    text-align: left;
}

.dataTables_filter label input {
    margin-left: 5px;
}

.dataTables_info {
    font-size: 15px;
    height: 30px;
    line-height: 30px;
}

.paging_full_numbers {
    line-height: 30px;
    height: 30px;
    font-size: 15px;
}

.paging_full_numbers a.paginate_button {
    background: none;
    border: 0;
}

.paging_full_numbers a.paginate_button:hover {
    background: #BBB;
    color: #fff!important;
    font-weight: 400;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: none;
}

.bg-white {
    background-color: #fff;
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-80 {
    width: 80%;
}

.w-98 {
    width: 98%;
}

.w-100 {
    width: 100%;
}

.m-left50 {
    margin-left: 50%;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.font-b {
    font-weight: bold;
}

.font-red {
    color: #ff0000;
}

#zoomFoto {
    position: absolute;
    z-index: 9999;
    background: rgba(255, 255, 255, 1);
    display: none;
    width: 100%;
    height: 100%;
}

#chiudiZoom {
    height: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

#myImage {
    float: left;
    padding: 2em;
}

#myResult {
    float: left;
    margin-left: 25px;
    margin-top: 30px;
    padding: 2em;
}

#intestazione {
    text-align: center;
    margin-bottom: 2em;
    font-size: 12px;
    font-weight: bold;
}

#wrapper {
    padding: 0;
    height: 100%;
}

#map {
    width: 100%;
    height: 100% !important;
    padding: 0;
    background: #ccc;
}

.centerIt{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position:relative;
}

.centerItAbs{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position:absolute;
}

.loginBkg{
	content: " ";
    background: url("../img/EGNSS4CAP_banner_1920x1080.png") center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    opacity: .3;
    top:0;
    left:0;
    position:absolute;

}

.login {
    
    /*margin-top: 70px;*/
    height: 50vh;
    width: 50vw;
    background-color:transparent;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position:absolute;
    /*opacity: .5;*/
}



.login ul {
    overflow: auto;
}

.layout-west {
    float: left;
    /*position: fixed;*/
    z-index: 1000;
    overflow: hidden;
    height: 90%;
    top: 60px;
    left: -100%;
    transition: ease-in-out .3s;
    padding: 20px;
}

.layout-east {
    width: 50%;
    /*float: left;
    position: absolute;*/
}

#toolbarMappa {
    float: left;
    position: fixed;
    z-index: 3;
    right: -500px;
    top: 60px;
    background: #fff;
    max-height: 90%;
    transition: ease-in-out .3s;
    font-size:small;
}

#c {
    display: none;
}

#icon_r {
    background-color: #fff;
    height: 32px;
    width: 32px;
    position: fixed;
    top: 15px;
    left: 58px;
    z-index: 2;
    cursor: pointer;
    background-image: url(images/icon_r.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    transition: .2s;
}

#c:checked ~ .layout-west {
    left: 0;
}

#c:not(:checked) ~ .layout-east{
    width:100%;
    top:0;
    position:absolute;
}
#d {
    display: none;
}

#icon_d {
    background-color: #fff;
    height: 32px;
    width: 32px;
    position: fixed;
    top: 15px;
    right: 58px;
    z-index: 4;
    cursor: pointer;
    background-image: url(images/edit.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    transition: .2s;
    display:none;
}

#d:checked ~ #toolbarMappa {
    right: 60px;
}

#accordion {
    overflow: auto;
    height: 73%;
    border-top: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
    padding: 25px 3px;
    margin-top: 25px;
}

.ui-accordion .ui-accordion-content {
    padding: 20px 0;
}

.target {
    background-image: url(images/target.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 50px;
    height: 35px;
    width: 35px;
    z-index: 6;
    display:none;
    pointer:cursor;
}

.expand {
    background-image: url(images/expand.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: 50%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 100px;
    height: 35px;
    width: 35px;
    z-index: 6;
    display:none;
    pointer:cursor;
}

.back {
    background-image: url(images/arrow_l.png);
    background-color: dodgerblue;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 45% center;
    position: fixed;
    top: 15px;
    left: 15px;
    height: 32px;
    width: 32px;
    z-index: 7;
    display:none;
    pointer:cursor;
}

#accordion select {
    font-size: 15px;
}

#nomeUtente {
    font-size: 20px;
}

.button-full {
    position: fixed;
    top: 15px;
    left: 100px;
    background: #fff;
    height: 32px;
    width: 32px;
    z-index: 5;
}

.title-console {
    height: 60px;
}

.title-console h1 {
    font-size: 20px;
    line-height: 45px;
}

#intestazione {
    margin-bottom: 0;
}

#intestazione p {
    height: 32px;
    line-height: 32px;
    margin: 0;
    padding: 0 0 0 15px;
    margin-bottom: 2px;
    border-left: 1px solid #000;
    background: #f1f1f1;
    text-align: left;
    overflow: hidden;
}

.dataTables_length,
.dataTables_filter {
    margin: 5px 0;
    font-size: 15px;
    line-height: 27px;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 0;
    border-bottom: 1px solid #BBB;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 0;
    border-bottom: 1px solid #BBB;
}


/* width */

#accordion::-webkit-scrollbar {
    width: 10px;
}


/* Track */

#accordion::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

#accordion::-webkit-scrollbar-thumb {
    background: #BBB;
}


/* Handle on hover */

#accordion::-webkit-scrollbar-thumb:hover {
    background: #999;
}



.user {text-align: right;}



/*xl*/

@media (max-width: 1550px) {
    

}


/*lg*/

@media (max-width: 1200px) {
    .title-console h1,
    #nomeUtente {
        font-size: 15px;
    }
    .title-console {
        height: 30px;
    }
    .user {
        height: 30px;
    }
    
    
    .dataTables_length,
    .dataTables_filter,
    .dataTables_info,
    .paging_full_numbers,
    .user {
        text-align: center;
        width: 100%;
        margin: 10px 0;
    }
    
    .title-console h1 {
    text-align: center; 
}
    #intestazione {margin-top: 20px;}
    #intestazione p {text-align: center;}
    
}


/*md*/

@media (max-width: 1040px) {}


/*sm*/

@media (max-width: 768px) {
    #c:checked ~ .layout-west {
        left: 0;
        padding:0;
        width:50vw
    }
    .layout-east{
        width:50vw;
    }
    .tableStyle{
        max-width: 90vw;
    }
}


/*xs*/

@media (max-width: 578px) {}


}

