.ol-popup {
   position: absolute;
   margin-left: -75px;
   background-color: white;
   -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
   -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
   filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
   padding: 3px;
   border-radius: 10px;
   border: 1px solid #cccccc;
   bottom: 12px;
   left: -20px;
 }
 .ol-popup:after, .ol-popup:before {
   top: 100%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
 }
 .ol-popup:after {
   border-top-color: white;
   border-width: 10px;
   margin-left: 82px;
 }
 .ol-popup:before {
   border-top-color: #cccccc;
   border-width: 11px;
   margin-left: 83px;
 }
 .ol-popup-closer {
   text-decoration: none;
   top: 2px;
   right: 8px;
 }
 .ol-popup-closer:after {
   content: url('../img/Cancel-icon-red.png');
 }