.inclinometerXAxis{
  position:absolute;
  background: transparent;
  color:#fff;
  top:67%;
  left:77%;
}

.inclinometerZAxis{
  position:absolute;
  background: transparent;
  color:#fff;
  top:75%;
  left:63%;
}

.inclinometerReticle{
  position:absolute;
  top:70%;
  left:70%;
  z-index:1000;
}

.inclinometerBall{
  position:absolute;
  top:70%;
  left:70%;
  z-index:1000;
}

.manualControlsPanel{
  position:absolute;
  top:70%;
  left:30%;
  z-index:1000;
}

.manualControlsPanel button{
  color: yellow !important;
  font-size: 2em;
}

.ricercaSegnale {
  position: absolute;
  width: 60%;
  top:40%;
  height:7%;
  left:20%;
  background: #000;
  color: #fff;
  opacity: 0.8;
  z-index: 100;
}

#menu_zoom_nv{
  top:5%;
}

/* MODAL MOTIVAZIONE */
.mot1item{
  border-style: hidden;
}

.mot2item{
  border-style: hidden;
}

.mot2item, .item-input{
  display: block !important;
}

.mot2label, .input-label{
  max-width: 100% !important;
  width: 100% !important;
}

.mot2item textarea{
  position: relative !important;
  float:left;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  width: 95%;
  height: 100px;
  margin-bottom: 5%;
  resize: none;
}

.mot1item, .item-input{
  display: block !important;
  padding-bottom:0px;
  padding-top:0px;
}

.mot1label, .input-label{
  max-width: 100% !important;
  width: 100% !important;
}

.mot1select, .item-select select{
  position: relative !important;
}

.mot1select, .item-select:after {
  top: 80% !important;
}

.reasonModal{
  top: 25vh;
  left:5vw;
  min-height: 50vh;
  width: 90vw;
}

.reasonModalKeyboard{
  top: 0;
  left:5vw;
  min-height: 100vh;
  width: 90vw;
}
/* FINE MODAL MOTIVAZIONE */

.galleryModal{
  top: 0%;
  left:0%;
  min-height:100%;
  width:100%;
  z-index: 15;
}

.pictureModal{
  top: 0%;
  left:0%;
  min-height:100%;
  width:100%;
  z-index: 20;
}

.pictureWithHeader{
  margin-top: 30px;
}

.pictureWithoutHeader{

}

.pictureModalDeleteButton{
  left: 5%;
}

.pictureModalCloseButton{
  left:70%;
}

.singlePhoto {
  width: 90%;
  height: 90%;
  margin-left: 5%;
}

#closeBtnSingle i{
  color: black !important;
}

.cdPanel{
  position: absolute;
  width:70%;
  height: 40%;
  margin-top:40%;
  margin-left:15%;
}

.gpsInfoPanel{
  position:absolute;
  background-color: rgba(0,0,0,0.30) !important;
  padding:0 !important;
  width:50% !important;
  height:8% !important;
  margin-left:25%
}

.gpsInfoPanel #close{
  position: absolute;
  top:0%;
  right:0%;
  color: #fff;
}

.camPanel{
  background-color: black;
  color: #fff;
  padding:10%;
  line-height: 3em;
  text-align:center;
  border-width:2px;
  border-color: #fff;
  border-style: ridge;
  border-radius: 1em;
}

.camOptButton{
  position:absolute;
  bottom:5%;
  right:5%;
  width:10%;
  height:10%;
}

.camOptionsPane{
  position:absolute;
  width:70%;
  height:50%;
  margin-top:25%;
  margin-left:15%;
}

.camHeightPane{
  position:absolute;
  width:70%;
  height: 20%;
  margin-top:40%;
  margin-left:15%;
  /*padding: 2px 5px;*/
}

.camOptionsPane #close{
  position: absolute;
  top:0%;
  right:0%;
  color: #fff;
}


.camHeightPane #close{
  position: absolute;
  top:0%;
  right:0%;
  color: #fff;
}

.camHeightPane #lower{
  color: #fff;
}

.camHeightPane #raise{
  color: #fff;
}

.camHeightPane button {
  display:inline-block;
  /*float:left;*/
  font-size: 10px !important;
  width: 10px !important;
  height: 10px !important;
  color: #fff;
}
.camHeightPane input {
  display:inline-block;
  /*float:left;*/
  length: 6;
  width:70px;
  text-align: center;
  margin:0;
  padding:0;
  height:28px;
}

.camHeightPane label {
  display:inline-block;
  text-align: right;
  vertical-align: 3px;
}

.exitCamera{
  position:absolute;
  bottom:5%;
  left:5%;
  width:15%;
}
.cycleButton{
  position:absolute;
  bottom:5%;
  left:5%;
  width:10%;
  height:10%;
}
.shutterButton{
  position:absolute;
  bottom:5%;
  left:40%;
  width:20%;
  height:10%;
}
.sianlogoinpicture{
  width: 70px;
  /*position:absolute;
    top:0%;
    left:0%;*/
}
.qrcodephoto{
  width: 70px;
  position: absolute;
  top: 5%;
  right: 1%;
  z-index:1000;
}

.transparentView{
  background-color: transparent !important;
  background-image: none; !important;
}

.sideMenuContentVisible{
  background-image:url('../img/Agri_app_mob_02-02-02_imp.svg');
  background-repeat: no-repeat;
  background-position: center;
}

#login_input {text-transform: lowercase;}
.altcolor0 {
  /*background: url('../img/ticket-blue.png') center no-repeat;*/
  /*background-size: 100%;*/
  background-color: rgba(11, 148, 58, 0.5);

}

.altcolor1 {
  /*background: url('../img/ticket-gray.png') center no-repeat;*/
  /*background-size: 100%;*/
  background-color: rgba(250,99,30, 0.5);
}

.altcolor2 {
  /*background: url('../img/ticket-yell.png') center no-repeat;*/
  /*background-size: 100%;*/
  background-color: rgba(109,194,223,0.5);
}
.ticketType{
  position: absolute;
  top: 5vw;
  left: 27vw;
  color: white;
  font-size: 2.5vw;
  font-family: 'SFD-Light';
}
.ticketTitle{
  font-family: 'SFD-Regular';
  font-size: 4vw;
  position: absolute;
  left: 27vw;
  top: 9vw;
  color: white;
}
.tickeDateLabel{
  font-family: 'SFD-Regular';
  font-size: 3vw;
  position: absolute;
  top: 15vw;
  left: 27vw;
  color: white;
}
.ticketTableIcon{
  position: absolute;
  width: 15vw;
  height: 15vw;
  top: 9vw;
  left: 8vw;
}
.ticketType{
  position: absolute;
  top: 5vw;
  left: 27vw;
  color: white;
  font-size: 2.5vw;
  font-family: 'SFD-Light';
}
.ticketStatusLabel{
  font-family: 'SFD-Regular';
  font-size: 3vw;
  position: absolute;
  top: 20vw;
  left: 27vw;
  color: white;
}
.listaTicketSeparator {
  height: 0.4em;
  position: relative;
  top: -1.2em;
  z-index: 100;
  width: 94.8%;
  margin-left: 0.7em;
}
.ticket{
  border-color: transparent;
  border-width: 0 0 0 0;
  height: 20vh;
  padding: 0 0 0 0;
  margin: 0em 0.6em 0em 0.6em;
}

.header-badge{
  top:-45px !important;
  left:20px !important;
}

.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 200px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}

.part-label {
  color: #fff;
  font-weight: bold;
  font-family: "Fira Mono", Monaco, "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  margin: -5px 0 0 15px;
  pointer-events:none;
}

.suoli-label {
  color: yellow;
  font-family: "Fira Mono", Monaco, "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  /*margin: -5px 0 0 15px;*/
  pointer-events:none;
}/* Empty. Add your own CSS if you like */
