<ion-list>
  <ion-item style="border-color: rgba(0, 0, 0, 0);background-color: rgba(0, 0, 0, 0);color: white;">
    <ion-label>lat: {{curr_lat}}</ion-label>
  </ion-item>
  <ion-item style="border-color: rgba(0, 0, 0, 0);background-color: rgba(0, 0, 0, 0);color: white;">
    <ion-label>lon: {{curr_lon}}</ion-label>
  </ion-item>
  <ion-item style="border-color: rgba(0, 0, 0, 0);background-color: rgba(0, 0, 0, 0);color: white;">
    <ion-label>sat number: {{tot_sat_number}}</ion-label>
  </ion-item>
  <ion-item style="border-color: rgba(0, 0, 0, 0);background-color: rgba(0, 0, 0, 0);color: white;">
    <ion-label>mean snr: {{mean_snr}}</ion-label>
  </ion-item>
  <ion-item style="border-color: rgba(0, 0, 0, 0);background-color: rgba(0, 0, 0, 0);color: white;">
    <ion-label>hdop: {{hdop}}</ion-label>
  </ion-item>
  <ion-item style="border-color: rgba(0, 0, 0, 0);background-color: rgba(0, 0, 0, 0);color: white;">
    <ion-label>pdop: {{pdop}}</ion-label>
  </ion-item>
  <ion-item style="border-color: rgba(0, 0, 0, 0);background-color: rgba(0, 0, 0, 0);color: white;">
    <ion-label>vdop: {{vdop}}</ion-label>
  </ion-item>
</ion-list>
