<ion-view>
  <ion-nav-title>EGNSS4CAP</ion-nav-title>
  <ion-content padding="true" class="has-header">
    <div class="list card" style="margin-top: 1%">
      <h4 style="margin-left: 1%">{{'about.title'|translate}}</h4>
      <p style="margin-left: 1%">EGNSS4CAP is a mobile phone application for farmers in the European Union to digitalise procedures surrounding their reporting requirements under the current and post-2020 Common Agricultural Policy (CAP) reform.
        <br><br>
        This application enables farmers to provide geotagged photos to support and complement a Copernicus Sentinel-based monitoring approach for CAP.
        <br><br>
        It is using EGNSS (EGNOS and Galileo) differentiators such as OS-NMA and dual-frequency capabilities to reduce errors and duplication, as well as improve performance and trustworthiness.
        <br><br>
        In order to know if the device that you are using is able to use all the EGNSS differentiators, the following traffic lights are giving a confirmation of your smartphone capabilities:
      </p>
    </div>

    <div class="list card" style="margin-top: 1%">
      <div class="row">
        <div class="col col-75">
          {{'home_page.manufact'|translate}}
        </div>
        <div id="ab_space_manufact" class="col col-25">
        </div>
      </div>
      <div class="row">
        <div class="col col-75">
          {{'home_page.model'|translate}}
        </div>
        <div id="ab_space_model" class="col col-25">
        </div>
      </div>
      <div class="row">
        <div class="col col-75">
          {{'home_page.supported_galileo'|translate}}
        </div>
        <div class="col col-25">
          <img id="ab_ball_galileo" width="30%" src="img/red_ball.png">
        </div>
      </div>
      <div class="row">
        <div class="col col-75">
          {{'home_page.supported_dual_freq'|translate}}
        </div>
        <div class="col col-25">
          <img id="ab_ball_dual_freq" width="30%" src="img/red_ball.png">
        </div>
      </div>
      <div class="row">
        <div class="col col-75">
          {{'home_page.supported_egnos'|translate}}
        </div>
        <div class="col col-25">
          <img id="ab_ball_egnos" width="30%" src="img/red_ball.png">
        </div>
      </div>
      <div class="row">
        <div class="col col-75">
          {{'home_page.supported_osnma'|translate}}
        </div>
        <div class="col col-25">
          <img id="ab_ball_osnma" width="30%" src="img/red_ball.png">
        </div>
      </div>
    </div>

    <div class="list card" style="margin-top: 1%">
      <p style="margin-left: 1%">
        <b>Galileo Signal Check</b>: green light if this device is able to use the Galileo signals.
        <br><br>
        <b>Dual Frequency Signal Check</b>: green light if this device is able to track GNSS dual-frequency (L1/L5 for GPS and E1/E5 for Galileo).
        <br><br>
        <b>EGNOS Signal Check</b>: green light if this device is able to work with EGNOS/SBAS satellites.
        <br><br>
        <b>Galileo Navigation Message Check</b>: green light if the device firmware is accessing to the GNSS raw data in general and Galileo Navigation message in particular, being capable to benefit from Galileo Open Service Navigation Message Authentication (OS-NMA).
        <br><br>
        The project team has worked closely with the paying agencies responsible for administering subsidies for farmers and JRC to ensure that the minimum user requirements will be met.
        <br><br>
        If you are interested in learning more about EGNSS4CAP, please get in touch with us.
      </p>
      <p style="text-align: center">
        <b>EGNSS4CAP v.{{version_number}}</b>
        <br><br>
        <a href="http://www.egnss4cap.eu/">https://www.egnss4cap.eu/</a>
        <br><br>
        <a href="mailto:hello@egnss4cap.eu">hello@egnss4cap.eu</a>
        <br><br>
        EGNSS4CAP is a project for the European GNSS Agency (GSA) coordinated by SpaceTec Partners and developed by Erasmicoin.
        <br><br>
        <a href="http://www.gsa.europa.eu/">https://www.gsa.europa.eu/</a>
        <br><br>
        <a href="http://www.spacetec.partners/">https://www.spacetec.partners/</a>
        <br><br>
        <a href="http://www.erasmicoin.eu/">http://www.erasmicoin.eu/</a>
      </p>
    </div>
  </ion-content>
</ion-view>
